@using Musikanalyse.Website.GameLevels
@model MemoryGameLevel

@{
    ViewBag.Title = "Funktionen";
}

@section Styles
{
    <link href="/content/games/memory/css/quizymemorygame.css" rel="stylesheet" />
}

<div class="page-header">
    <h1>@this.ViewBag.LevelTitle</h1>
</div>

<div class="container">
    <div class="quizy-memorygame" id="theGame">
        <ul>
            @for (int i = 0; i < this.Model.Pairs.Count; i++)
            {
                Tuple<string, string> pair = this.Model.Pairs[i];
                <li class="match@(i + 1)">
                    <img src="@this.Url.Content(pair.Item1)" />
                </li>
                <li class="match@(i + 1)">
                    <img src="@this.Url.Content(pair.Item2)" />
                </li>
            }
        </ul>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryui")
@*    <script src="~/Content/games/memory/js/jquery.flip.js"></script>
    <script src="~/Content/games/memory/js/jquery.quizymemorygame.js"></script>*@
    @Scripts.Render("~/bundles/memory")
    <script>
        $(function() {
            $('#theGame').quizyMemoryGame({
                itemWidth: 156,
                itemHeight: 156,
                itemsMargin: 40,
                colCount: 5,
                animType: 'flip',
                flipAnim: 'tb',
                animSpeed: 250,
                resultIcons: true,
                gameSummary: true,
                textSummaryTitle: 'Spielergebnis:',
                textSummaryClicks: 'Klicks',
                textSummaryTime: 'Sekunden',
                onFinishCall: ''
            });
        });
    </script>
}
