@using MarkdownDeep
@using Musikanalyse.Services.Contracts
@using Musikanalyse.Website.ViewModels
@model TutorialsViewModel

@{
    ViewBag.Title = "musikanalyse.net";
    Markdown markdown = new Markdown { ExtraMode = true, SafeMode = false, MarkdownInHtml = true };
}

@section IndexHeader
{
    <div style="background-color: #eee; padding: 10px 0;">
        <div class="container" style="background-image: url('/images/MainImage.png'); background-position: 100%; background-repeat: no-repeat; height: 170px;">
            <h1 style="font-size: 49px; color: #232323; margin-top: 52px;">@ViewBag.Title</h1>
            <p style="font-size: 15px; color: #232323;">Profiwissen zur Musiktheorie und zur musikalischen Analyse</p>
        </div>
    </div>
}

<div class="row" style="min-height: 2em; padding: 1.6em; text-align: center; background-color: #FFD173; color: #b90e1d; border: #b90e1d 2px solid; border-radius: 10px; margin: 1em 0.5em 2em;">
    <h1>NoteLex ist online!</h1>
    <h6>Das interaktive Tool zur Allgemeinen Musiklehre, Funktionstheorie, Pc-set Analyse und...</h6>
    <p><a class="btn btn-primary btn-lg" role="button" href="http://notelex.musikanalyse.net">Hier geht's zu NoteLex...</a></p>
</div>

<div class="row">
    <div class="span6">
        <h2>Was gibt's Neues?</h2>
        <img src="/images/new.png" style="position: absolute; width: 100px; margin-left: -7em; margin-top: -1em;" />
        <h3>Die Oberquintmodulation</h3>
        <p>
            Die Oberquintmodulation ist für abendländische Kompositionen des 17. bis 19. Jahrhunderts von besonderer Bedeutung: Sie gehört zur 
            harmonischen Standardbewegung aller größeren und kleineren Kompositionen in Dur. In diesem Tutorial werden die geschichtlichen Hintergründe 
            für die Entstehung des Modells beleuchtet und Techniken für die Analyse und die Stilübungen erläutert.
        </p>
        <p><a class="btn" href="@this.Url.Action("TutorialPage", new { urlKey = "oberquintmodulation" })">Zum Tutorial &raquo;</a></p><br/>
        <img src="/images/new.png" style="position: absolute; width: 100px; margin-left: -7em; margin-top: -1em;" />
        <h3>Der übermäßige Quintsextakkord</h3>
        <p>
            Akkordverbindungen mit großem Wiedererkennungswert entstehen durch den sogenannten übermäßigen Quintsextakkord 
            (<a href="http://notelex.musikanalyse.net/#k=51555861&p=am">Beispiel</a>) in Verbindung mit einer nachfolgenden Dominante. 
            In diesem Tutorial können Sie diesen Akkord und verschiedene Benennungen kennen lernen und das Bestimmen der Töne des Akkordes 
            in verschiedenen Tonarten üben.
        </p>
        <p><a class="btn" href="@this.Url.Action("TutorialPage", new { urlKey = "uebermaessiger56-akkord" })">Zum Tutorial &raquo;</a></p>
        <img src="/images/new.png" style="position: absolute; width: 100px; margin-left: -7em; margin-top: -1em;" />
        <h3>Das I-(x)-V-I-Schema</h3>
        <p>
            <a href="http://www.music.northwestern.edu/faculty/profiles/robert-gjerdingen.html" target="_blank">Robert Gjerdingen</a> hat in seiner 
            Untersuchung <i>A Classic Turn of Phrase. Music and the Psychology of Convention</i> (Philadelphia 1988) ein Modell zur Analyse vorgestellt, 
            dass im deutschsprachigen Raum relativ unbekannt ist und meist nur als Schema bezeichnet wird. In diesem Tutorial wird Gjerdingens Schema 
            vorgestellt, eine Verbindung zu anderen Satzmodellen hergestellt und praktische Anwendungsmöglichkeiten des Modells erprobt.
        </p>
        <p><a class="btn" href="@this.Url.Action("TutorialPage", new { urlKey = "i-x-v-i-schema" })">Tum Tutorial... &raquo;</a></p>
        <h4>Improvisieren kleinerer Formen mithilfe von Satzmodellen</h4>
        <p><a class="btn" href="@this.Url.Action("TutorialPage", new { urlKey = "satzmodell-impro" })">Nachschauen... &raquo;</a></p>
    </div>
    <div class="span6">
        <h2>Schon gelesen?</h2>
        @if (this.Model.TutorialInfos.Count > 0)
        {
            <h3>@this.Model.TutorialInfos[0].Title</h3>
            <p>@this.Html.Raw(markdown.Transform(this.Model.TutorialInfos[0].Abstract))</p>
            <p><a class="btn" href="@this.Url.Action("TutorialPage", new { urlKey = this.Model.TutorialInfos[0].UrlKey })">Zum Tutorial &raquo;</a></p>
        }
        @if (this.Model.TutorialInfos.Count > 1)
        {
            <h3>@this.Model.TutorialInfos[1].Title</h3>
            <p>@this.Html.Raw(markdown.Transform(this.Model.TutorialInfos[1].Abstract))</p>
            <p><a class="btn" href="@this.Url.Action("TutorialPage", new { urlKey = this.Model.TutorialInfos[1].UrlKey })">Zum Tutorial &raquo;</a></p>
        }
        @if (this.Model.TutorialInfos.Count > 2)
        {
            <h3>@this.Model.TutorialInfos[2].Title</h3>
            <p>@this.Html.Raw(markdown.Transform(this.Model.TutorialInfos[2].Abstract))</p>
            <p><a class="btn" href="@this.Url.Action("TutorialPage", new { urlKey = this.Model.TutorialInfos[2].UrlKey })">Zum Tutorial &raquo;</a></p>
        }
        @if (this.Model.TutorialInfos.Count > 3)
        {
            <h3>@this.Model.TutorialInfos[3].Title</h3>
            <p>@this.Html.Raw(markdown.Transform(this.Model.TutorialInfos[3].Abstract))</p>
            <p><a class="btn" href="@this.Url.Action("TutorialPage", new { urlKey = this.Model.TutorialInfos[3].UrlKey })">Zum Tutorial &raquo;</a></p>
        }
    </div>
</div>
