@using Musikanalyse.Services.Contracts
@model Musikanalyse.Services.Contracts.Page

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Content</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastModifiedDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Value)
    </div>
    @if (Model.GetType() == typeof(ContentPage))
    {
        <div class="display-label">
            @Html.DisplayName("Url")
        </div>
        <div class="display-field">
            @Html.Display("Url")
        </div>
    }
    else if (Model.GetType() == typeof(TutorialPage))
    {
        <div class="display-label">
            @Html.DisplayName("UrlKey")
        </div>
        <div class="display-field">
            @Html.Display("UrlKey")
        </div>
    }
    else
    {
        throw new InvalidOperationException();
    }

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="Delete" />
        |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
