@using MarkdownDeep
@using Musikanalyse.Services.Contracts
@model Musikanalyse.Services.Contracts.Page

@{
    ViewBag.Title = "Details";
    Markdown md = new Markdown { ExtraMode = true, SafeMode = true };
}

<h2>Details</h2>

<fieldset>
    <legend>Content</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CreationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreationDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.LastModifiedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastModifiedDate)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Value)
    </div>
    <div class="display-field">
        <div>@Html.Raw(md.Transform(Model.Value))</div>
    </div>

    @if (Model.GetType() == typeof(ContentPage))
    {
        <div class="display-label">
            @Html.DisplayName("Url")
        </div>
        <div class="display-field">
            @Html.Display("Url")
        </div>
    }
    else if (Model.GetType() == typeof(TutorialPage))
    {
        <div class="display-label">
            @Html.DisplayName("UrlKey")
        </div>
        <div class="display-field">
            @Html.Display("UrlKey")
        </div>

        <div class="display-label">
            @Html.DisplayName("ThumnailUrl")
        </div>
        <div class="display-field">
            @Html.Display("ThumnailUrl")
        </div>

        <div class="display-label">
            @Html.DisplayName("Abstract")
        </div>
        <div class="display-field">
            <div>@Html.Raw(md.Transform(((TutorialPage)Model).Abstract))</div>
        </div>
    }
    else
    {
        throw new InvalidOperationException();
    }

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
