@using Musikanalyse.Services.Contracts
@using Musikanalyse.Website.Helpers
@model IList<Musikanalyse.Services.Contracts.Page>

@{
    ViewBag.Title = "Index";
}

@section Styles {
    <style>
        th { text-align: left; }
    </style>
}

<h2>Seitenübersicht</h2>

<table class="table-condensed table-bordered table-striped bt" style="width: 100%; margin: 25px 0;">
    <tr>
        <th>
            Aktion
        </th>
        <th>
            Titel
        </th>
        <th>
            Url(bestandteil)
        </th>
        <th>
            Vorschaubild
        </th>
        <th>
            Erstellt
        </th>
        <th>
            Zuletzt geändert
        </th>
    </tr>

    @foreach (Musikanalyse.Services.Contracts.Page item in Model.Reverse())
    {
        ContentPage contentPage = item as ContentPage;
        TutorialPage tutorialPage = item as TutorialPage;
        <tr>
            <td>
                @Html.ActionLink("Bearbeiten", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Löschen", "Delete", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @if (contentPage != null)
                {
                    @Html.DisplayFor(modelItem => contentPage.Url)
                }
                else if (tutorialPage != null)
                {
                    @Html.DisplayFor(modelItem => tutorialPage.UrlKey)
                }
                else
                {
                    throw new InvalidOperationException("Unknown page type.");
                }
            </td>
            <td>
                @if (tutorialPage != null)
                {
                    @Html.DisplayFor(modelItem => tutorialPage.ThumbnailUrl)
                }
                else
                {
                    <text>&nbsp;</text>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
        </tr>
    }

</table>

<p>
    @Html.ActionLink("Neue Inhaltsseite", "Create", new { type = PageType.Content }, new { @class = "btn btn-small" })
    @Html.ActionLink("Neue Tutorialseite", "Create", new { type = PageType.Tutoial }, new { @class = "btn btn-small" })
</p>
