@using Musikanalyse.Services.Contracts
@using Musikanalyse.Website.Helpers
@model IList<Musikanalyse.Services.Contracts.Page>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New Content", "Create", new { type=PageType.Content })
    @Html.ActionLink("Create New Tutorial", "Create", new { type=PageType.Tutoial })
</p>
<table>
    <tr>
        <th>
            @Html.DisplayName("CreationDate")
        </th>
        <th>
            @Html.DisplayName("LastModifiedDate")
        </th>
        <th>
            @Html.DisplayName("Url")
        </th>
        <th>
            @Html.DisplayName("Title")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        ContentPage contentPage = item as ContentPage;
        TutorialPage tutorialPage = item as TutorialPage;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastModifiedDate)
            </td>
            <td>
                @if (contentPage != null)
                {
                    @Html.DisplayFor(modelItem => contentPage.Url)
                }
                else if (tutorialPage != null)
                {
                    @Html.DisplayFor(modelItem => tutorialPage.UrlKey)
                }
                else
                {
                    throw new InvalidOperationException("Unknown page type.");
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
