<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-static-top navbar-inverse main-menu">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li>@this.Html.ActionLink("Home", "Index", "Default", new { area = string.Empty }, null)</li>
                    <li>@this.Html.ActionLink("Tutorials", "TutorialIndex", "Default", new { area = string.Empty }, null)</li>
                    <li><a href="/about">Über uns</a></li>
                    <li><a href="/imprint">Impressum</a></li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li>@this.Html.ActionLink("Seitenübersicht", "Index", "Pages", new { area = "Admin" }, null)</li>
                        <li>@this.Html.ActionLink("Abmelden", "Logout", "Default", new { area = string.Empty }, null)</li>
                    }
                    else
                    {
                        <li>@this.Html.ActionLink("Anmelden", "Login", "Default", new { area = string.Empty }, null)</li>
                    }
                </ul>
                <div class="nav pull-right">
                    <span class="brand">musikanalyse.net</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container content" style="margin-top: 2.5em;">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("Scripts", required: false)
</body>
</html>
