<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/bundles/styles")
    <link href="~/Scripts/mdd_styles.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-static-top navbar-inverse main-menu">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li>@this.Html.ActionLink("Home", "index", "default", new { area = string.Empty }, null)</li>
                    <li>@this.Html.ActionLink("Tutorials", "tutorialindex", "default", new { area = string.Empty }, null)</li>
                    <li>@this.Html.ActionLink("Spiele", "index", "games", new { gameName = string.Empty, levelName = string.Empty, area = string.Empty }, null)</li>
                    <li><a href="/about">Über uns</a></li>
                    <li><a href="/imprint">Impressum</a></li>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li>@this.Html.ActionLink("Seitenübersicht", "index", "pages", new { area = "admin" }, null)</li>
                        <li>@this.Html.ActionLink("Abmelden", "logout", "default", new { area = string.Empty }, null)</li>
                    }
                    else
                    {
                        <li>@this.Html.ActionLink("Anmelden", "login", "default", new { area = string.Empty }, null)</li>
                    }
                </ul>
                <div class="nav pull-right">
                    <span class="brand">musikanalyse.net</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container content" style="margin-top: 2.5em;">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/MarkdownDeepLib.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        jQuery(function () {
            jQuery(".MarkdownEditor").MarkdownDeep({ ExtraMode: true, SafeMode: false, MarkdownInHtml: true });
        });
    </script>
</body>
</html>
