<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/css")
    <link href="~/Scripts/mdd_styles.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="navbar navbar-static-top navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="@this.Url.Action("Index", "Default", new { area = string.Empty })">musikanalyse.net</a>
                <ul class="nav">
                    <li>@this.Html.ActionLink("Home", "Index", "Default", new { area = string.Empty }, null)</li>
                    <li>@this.Html.ActionLink("Tutorials", "TutorialIndex", "Default", new { area = string.Empty }, null)</li>
                    <li><a href="/about">Über uns</a></li>
                </ul>
                <ul class="nav pull-right">
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <li class="navbar-text">Hallo,&nbsp;<b>@this.User.Identity.Name</b>!</li>
                        <li>@this.Html.ActionLink("Seitenübersicht", "Index", "Pages", new { area = "Admin" }, null)</li>
                        <li>@this.Html.ActionLink("Abmelden", "Logout", "Default", new { area = string.Empty }, null)</li>
                    }
                    else
                    {
                        <li>@this.Html.ActionLink("Anmelden", "Login", "Default", new { area = string.Empty }, null)</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container" style="margin-top: 2.5em;">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/MarkdownDeepLib.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script>
        jQuery(function () {
            jQuery(".MarkdownEditor").MarkdownDeep({ ExtraMode: true, SafeMode: false, MarkdownInHtml: true });
        });
    </script>
</body>
</html>
